# App configuration
DB_HOST=database
DB_PORT=3306
DB_USER=english_quiz
DB_PASS=almafa123
DB_NAME=english_quiz
JWT_SECRET=kortefa456
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=bolyai_pls

# Other configurations
MYSQL_ROOT_PASSWORD=meggyfa789